<a href="https://colab.research.google.com/github/MariaVidals/EJERCICIOS-DE-CLASE/blob/main/Modulo4%20.%20Introducci%C3%B3n_a_la_ing_de_datos_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url= 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
pd.DataFrame

pandas.core.frame.DataFrame

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape

(4622, 5)

In [8]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
print(chipo.shape[1])

5

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 7. Print the name of all the columns.

In [11]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [23]:
order= chipo.groupby('item_name').sum()
order= order.sort_values(['quantity'], ascending = False)
order.head(2)

                 order_id  quantity
item_name
Chicken Bowl       713926       761
Chicken Burrito    497303       591

### Step 10. For the most-ordered item, how many items were ordered?

In [25]:
order1= chipo.groupby('item_name').sum()
order1= order1.sort_values(['quantity'], ascending = False)

cant = chipo.groupby('quantity').sum()

order1.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
v = chipo.groupby('choice_description').sum()
v = v.sort_values(['quantity'], ascending = False)
v.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [27]:
total=chipo.quantity.sum()
total

4972

### Step 13. Turn the item price into a float

In [28]:
chipo.item_price.dtype

dtype('O')

#### Step 13.a. Check the item price type

In [46]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [37]:
try:
    price= lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(price)
    
except:TypeError

#### Step 13.c. Check the item price type

In [38]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print('revenue was: $' + str (np.round(revenue,2)))

revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [40]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [43]:
# Solution 1

chipo.groupby('order_id').sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [44]:
o= chipo.groupby('item_name').sum()
o

                                       order_id  quantity  item_price  revenue
item_name
6 Pack Soft Drink                         52322        55      356.95   369.93
Barbacoa Bowl                             53972        66      672.36   672.36
Barbacoa Burrito                          74718        91      894.75   894.75
Barbacoa Crispy Tacos                      5613        12      120.21   138.71
Barbacoa Salad Bowl                        9708        10      106.40   106.40
Barbacoa Soft Tacos                       18725        25      250.46   250.46
Bottled Water                            175944       211      302.56   649.18
Bowl                                        472         4       29.60    74.00
Burrito                                    1550         6       44.40    44.40
Canned Soda                               76396       126      137.34   191.84
Canned Soft Drink                        304753       351      438.75   603.75
Carnitas Bowl                             62742        71      736.71   830.71
Carnitas Burrito                          51652        60      597.83   616.33
Carnitas Crispy Tacos                      5868         8       77.96    95.94
Carnitas Salad                             1500         1        8.99     8.99
Carnitas Salad Bowl                        6693         6       66.34    66.34
Carnitas Soft Tacos                       37673        40      375.94   375.94
Chicken Bowl                             713926       761     7342.73  8044.63
Chicken Burrito                          497303       591     5575.82  6387.06
Chicken Crispy Tacos                      47382        50      472.13   524.11
Chicken Salad                             10465         9       81.09    81.09
Chicken Salad Bowl                       117104       123     1228.75  1506.25
Chicken Soft Tacos                        98395       120     1108.09  1199.01
Chips                                    208004       230      494.34   580.34
Chips and Fresh Tomato Salsa             100419       130      361.36  1033.96
Chips and Guacamole                      449959       506     2201.04  2475.62
Chips and Mild Fresh Tomato Salsa           279         1        3.00     3.00
Chips and Roasted Chili Corn Salsa        14999        23       67.85    73.75
Chips and Roasted Chili-Corn Salsa        17462        18       43.02    43.02
Chips and Tomatillo Green Chili Salsa     41170        45      132.75   144.55
Chips and Tomatillo Red Chili Salsa       45556        50      147.50   159.30
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87    88.43
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75    93.21
Crispy Tacos                                434         2       14.80    14.80
Izze                                      10587        20       67.80    67.80
Nantucket Nectar                          21814        29       98.31   111.87
Salad                                      1150         2       14.80    14.80
Side of Chips                             84769       110      185.90   290.68
Steak Bowl                               193752       221     2260.19  2479.81
Steak Burrito                            328437       386     3851.43  4236.13
Steak Crispy Tacos                        35818        36      357.34   375.32
Steak Salad                                2362         4       35.66    35.66
Steak Salad Bowl                          29590        31      343.59   391.15
Steak Soft Tacos                          50177        56      536.05   554.55
Veggie Bowl                               72270        87      867.99   901.95
Veggie Burrito                            80962        97      934.77  1002.27
Veggie Crispy Tacos                         668         1        8.49     8.49
Veggie Salad                               7265         6       50.94    50.94
Veggie Salad Bowl                         17303        18      182.50   182.50
Veggie Soft Tacos                          5520         8       73.96    90.94

In [45]:
chipo.item_name.value_counts().count()

50