# Sesion 2

In [1]:
lista = ["Hola", "mi nombre es", "Daniel"]

In [2]:
"".join(lista)

'Holami nombre esDaniel'

In [3]:
"/".join(lista)

'Hola/mi nombre es/Daniel'

In [4]:
" ".join(lista)

'Hola mi nombre es Daniel'

In [21]:
palabra = "Fuiste mi más bonita casualidadF. hola"

In [13]:
palabra.replace("F", "E")

'Euiste mi más bonita casualidadE'

split nos ayuda a separar una string

In [14]:
str(5)

'5'

In [15]:
palabra.split(" ")

['Fuiste', 'mi', 'más', 'bonita', 'casualidadF']

In [16]:
palabra.lower()

'fuiste mi más bonita casualidadf'

In [17]:
palabra.upper()

'FUISTE MI MÁS BONITA CASUALIDADF'

In [18]:
palabra.title()

'Fuiste Mi Más Bonita Casualidadf'

In [22]:
palabra.capitalize()

'Fuiste mi más bonita casualidadf. hola'

## Tuplas

In [23]:
tuple()

()

In [24]:
amigos = ("Juan", "Raul", "Sofía")

In [25]:
amigos

('Juan', 'Raul', 'Sofía')

In [26]:
amigos[0]

'Juan'

In [27]:
amigos[1]

'Raul'

In [29]:
amigos[2]

'Sofía'

In [30]:
amigos[1] = "Daniel"

TypeError: 'tuple' object does not support item assignment

In [31]:
a = 20
b = 15
c = 30

numeros = a, b, c

In [32]:
numeros

(20, 15, 30)

In [33]:
type(numeros)

tuple

In [34]:
coordenadas = (19.433, -99.140)

In [35]:
latitud, longitud = coordenadas

In [36]:
latitud

19.433

In [37]:
longitud

-99.14

In [38]:
type(latitud)

float

In [39]:
type(longitud)

float

In [40]:
amigos

('Juan', 'Raul', 'Sofía')

In [41]:
amigos[0:2]

('Juan', 'Raul')

In [42]:
amigos[1:]

('Raul', 'Sofía')

In [51]:
frutas = ["Manzana", "Uva", "Naranja"]

In [52]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [53]:
enumerados = list(enumerate(frutas))
enumerados

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [54]:
indice, elemento = enumerados[0]

In [55]:
indice

0

In [56]:
elemento

'Manzana'

## Conjuntos

In [57]:
conjunto1 = {10, 6, 2, 8, 36, 48}

In [58]:
conjunto1

{2, 6, 8, 10, 36, 48}

In [59]:
numeros = [5, 7, 8, 6, 5, 8, 9, 3, 4, 9, 6]

In [60]:
set(numeros)

{3, 4, 5, 6, 7, 8, 9}

In [62]:
conjunto1.add(50)

In [63]:
conjunto1

{2, 6, 8, 10, 36, 48, 50}

In [64]:
conjunto1.remove(50)

In [65]:
conjunto1

{2, 6, 8, 10, 36, 48}

Union de conjuntos

In [66]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8, 9}

In [67]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersección

In [68]:
a & b

{4, 5}

Diferencia de conjuntos

In [69]:
a - b

{1, 2, 3}

In [70]:
b - a

{6, 7, 8, 9}

Union exclusiva

In [71]:
a ^ b

{1, 2, 3, 6, 7, 8, 9}

Condicionales

In [72]:
5 < 10

True

In [73]:
20 > 45

False

In [74]:
15 == 15

True

In [75]:
5 != 7

True

In [76]:
5 >= 5

True

In [77]:
17 <=20

True

Tablas de verdad

AND

```
elemento1 and elemento2
```

In [78]:
False and True

False

In [79]:
True and True

True

OR

In [80]:
False or True

True

In [81]:
False or False

False

In [82]:
not True

False

In [83]:
not False

True

Operadores de pertenencia

In [84]:
frutas

['Manzana', 'Uva', 'Naranja']

In [85]:
'Manzana' in frutas

True

In [86]:
"Sandía" in frutas

False

In [87]:
"Manzana" not in frutas

False

Condicionales

In [93]:
num1 = int(input("Dame un numero"))

if num1 >= 0:
    print("Es positivo")
else:
    print("Es negativo")

Es positivo

Realizar un progrmaa que reciba 2 números y que imprima el mayor

In [96]:
num1 = int(input("Dame un número"))
num2 = int(input("Dame otro número"))

if num1 > num2:
    print(f'El mayor es el {num1}')
else:
    print(f'El mayor es el {num2}')

El mayor es el 5

In [97]:
num1 = int(input("Dame un número"))
num2 = int(input("Dame otro número"))

if num1 > num2:
    print(f'El mayor es el {num1}')
elif num1 < num2:
    print(f'El mayor es {num2}')
else:
    print("Ambos números son iguales")

Ambos números son iguales

Programa que evalua si un numero es par o impar

In [ ]:
num1 = int(input("Dame un numero"))

if num1 % 2  == 0:
    print("El número es par")
else:
    print("El número es impar")

## Mal Ejemplo

Elevar al cuadrado 10 números

In [98]:
numeros_cuadrado = []

numeros_cuadrado.append(1**2)
numeros_cuadrado.append(2**2)
numeros_cuadrado.append(3**2)
numeros_cuadrado.append(4**2)

numeros_cuadrado

[1, 4, 9, 16]

In [99]:
numeros_cuadrado = []

for i in [0, 1, 2, 3, 4, 5]:
    numeros_cuadrado.append(i**2)

numeros_cuadrado

[0, 1, 4, 9, 16, 25]

In [100]:
range(15)

range(0, 15)

In [101]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [104]:
numeros_cuadrado = []

for i in range(15):
    numeros_cuadrado.append(i**2)

print(numeros_cuadrado)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

For con inicio y fin

In [114]:
for i in range(15, 20):
    print(i)

15
16
17
18
19

for con inicio, fin y aumento

In [115]:
for i in range(15,30,2):
    print(i)

15
17
19
21
23
25
27
29

In [105]:
frutas

['Manzana', 'Uva', 'Naranja']

In [106]:
for fruta in frutas:
    print(fruta)

Manzana
Uva
Naranja

In [107]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [109]:
for indice, elemento in enumerate(frutas):
    print(f"La fruta {elemento} esta en el índice {indice}")

La fruta Manzana esta en el índice 0
La fruta Uva esta en el índice 1
La fruta Naranja esta en el índice 2

In [110]:
coches = ["Tsuru", "BMW", "Mercedes-Benz"]
colores = ["Blanco", "Silver", "Negro"]

In [111]:
len(coches)

3

In [113]:
len(colores)

3

In [112]:
for i in range(3):
    print(f"El coche {coches[i]} es de color {colores[i]}")

El coche Tsuru es de color Blanco
El coche BMW es de color Silver
El coche Mercedes-Benz es de color Negro

## Ciclo While

In [116]:
contador = 0

while contador < 5:
    print(contador)
    contador +=1

0
1
2
3
4

In [117]:
contador = 0

while True:
    print(contador)
    contador +=1

    if contador >= 5:
        break

0
1
2
3
4

In [118]:
for i in range(10):
    if i % 2 == 0:
        continue # Este continue ignora lo que sigue con el for y vuelve a entrar al ciclo, es este caso ignora print(i)
    print(i)

1
3
5
7
9