# Sesion 1

## Variables

In [1]:
print("Hola mundo")

Hola mundo

In [2]:
"Daniel Carmona"

'Daniel Carmona'

In [3]:
26

26

In [4]:
1.80

1.8

In [5]:
True

True

In [6]:
False

False

In [7]:
type("Daniel Carmona")

str

In [8]:
type(35)

int

In [9]:
type(1.80)

float

In [10]:
mi_nombre = "Daniel Carmona"

In [12]:
mi_nombre

'Daniel Carmona'

In [13]:
mi_edad = 26

In [14]:
mi_altura = 1.80

In [16]:
mi_nombre
mi_altura

1.8

In [17]:
print(mi_nombre)
print(mi_altura)

Daniel Carmona
1.8

## Format

1. Format Manual ( Concatenar )
2. Format parentesis
3. F strings

In [18]:
print("Mi nombre es: " + mi_nombre)

Mi nombre es: Daniel Carmona

In [19]:
print("Mi edad es %i" % mi_edad)

Mi edad es 26

In [20]:
print("La altura {} y mi nombre es {}".format(mi_altura, mi_nombre))

La altura 1.8 y mi nombre es Daniel Carmona

In [21]:
print("La altura {1} y mi nombre es {0}".format(mi_altura, mi_nombre))

La altura Daniel Carmona y mi nombre es 1.8

In [22]:
print(f"Mi nombre es {mi_nombre} y mi edad es {mi_edad}")

Mi nombre es Daniel Carmona y mi edad es 26

Relleno de f strings

In [23]:
print(f"Mi nombre es {mi_nombre:20} y mi edad es {mi_edad}")

Mi nombre es Daniel Carmona       y mi edad es 26

In [25]:
print(f"{mi_nombre:20}|{mi_edad:>3}")

Daniel Carmona      | 26

In [27]:
print(f"{mi_nombre:-<20}|{mi_edad:->3}")

Daniel Carmona------|-26

Declaración de variables numéricas

In [29]:
a = 10
b = 5

In [30]:
print(a + b)

15

In [31]:
c , d = 20, 25

In [32]:
print(c + d)

45

In [35]:
print(f"La suma de {c} + {d} es {c + d}")

La suma de 20 + 25 es 45

Ejercicio: Imprimir la multiplicación y división de c y d

In [37]:
print(f"La multiplicación de {c} x {d} es {c * d}")

La multiplicación de 20 x 25 es 500

Inputs

In [38]:
mi_nombre = input("Dame tu nombre ")

'Daniel'

In [39]:
mi_edad = input("Dame tu edad")
mi_edad * 5

'2525252525'

In [40]:
int("5")

5

In [41]:
type(int("5"))

int

In [42]:
mi_edad = input("Dame tu edad")
mi_edad = int(mi_edad)
mi_edad * 5

125

In [43]:
mi_edad = int(input("Dame tu edad"))
mi_edad * 10

250

## Listas (arrays para los que vienen de js y c)

In [44]:
list()

[]

In [45]:
["Daniel", "Rogelio"]

['Daniel', 'Rogelio']

In [46]:
[25, 23]

[25, 23]

In [47]:
[True, False]

[True, False]

In [48]:
["Daniel", 25, 1.80, True]

['Daniel', 25, 1.8, True]

In [4]:
frutas = ["Manzana", "Pera", "Naranja"]

In [5]:
print(frutas)

['Manzana', 'Pera', 'Naranja']

In [6]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Pera'), (2, 'Naranja')]

In [7]:
frutas[1]

'Pera'

In [8]:
frutas[2]

'Naranja'

Meter elementos a una lista

In [9]:
lista_vacia = []

In [10]:
frutas.append("Uva")

In [11]:
frutas

['Manzana', 'Pera', 'Naranja', 'Uva']

### Slice

In [12]:
frutas[1:2]

['Pera']

In [13]:
frutas[1:3]

['Pera', 'Naranja']

In [14]:
frutas[-1]

'Uva'

In [15]:
frutas[-2]

'Naranja'

In [16]:
frutas[::-1]

['Uva', 'Naranja', 'Pera', 'Manzana']

In [17]:
"Daniel"[1]

'a'

In [18]:
"Daniel"[-1]

'l'

In [19]:
"Daniel"[::-1]

'leinaD'

In [20]:
"anita lava la tina"[::-1]

'anit al aval atina'

Ejercicio: crear una lista que contenga 10 números desordenados que vayan entre 0 y 100

In [22]:
numeros = [10,15,5,2]

In [23]:
numeros.sort()

In [24]:
numeros

[2, 5, 10, 15]

In [29]:
numeros.sort(reverse=True)

In [30]:
numeros

[15, 10, 5, 2]

In [31]:
sum(numeros)

32

$$Media = \frac{\sum_{i=0}^n i}{n}$$

Ejercicio: sacar el promedio de sus números, guardar en una variable llamada promedio

In [36]:
suma = sum(numeros)
n = 4

promedio = suma / n
promedio

8.0

In [34]:
len(numeros)

4

In [35]:
suma = sum(numeros)
n = len(numeros)

promedio = suma / n
promedio

8.0

In [37]:
min(numeros)

2

In [38]:
max(numeros)

15

## Diccionarios

In [39]:
dict()

{}

In [40]:
capitales = { "España": "Madrid", "Francia": "París", "Alemania": "Berlín" }

In [41]:
print(capitales)

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [42]:
capitales

{'España': 'Madrid', 'Francia': 'París', 'Alemania': 'Berlín'}

In [43]:
capitales['España']

'Madrid'

In [44]:
capitales['Francia']

'París'

In [45]:
capitales.keys()

dict_keys(['España', 'Francia', 'Alemania'])

In [46]:
capitales.values()

dict_values(['Madrid', 'París', 'Berlín'])

In [47]:
capitales.items()

dict_items([('España', 'Madrid'), ('Francia', 'París'), ('Alemania', 'Berlín')])

Agregar un elemento a un diccionario

In [48]:
capitales['México'] = 'CDMX'

In [49]:
capitales

{'España': 'Madrid',
 'Francia': 'París',
 'Alemania': 'Berlín',
 'México': 'CDMX'}

In [50]:
datos_amigo = {"name": "Mario", "país": "Colombia"}

In [51]:
datos_amigo['frutas'] = frutas

In [53]:
datos_amigo

{'name': 'Mario',
 'país': 'Colombia',
 'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']}

In [54]:
datos_amigo2 = {"name": "Angeles", "país": "Chile"}

In [55]:
amigos = [datos_amigo, datos_amigo2]

In [56]:
amigos

[{'name': 'Mario',
  'país': 'Colombia',
  'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']},
 {'name': 'Angeles', 'país': 'Chile'}]

In [57]:
len(amigos)

2